@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>BlogApp.BlazorServer</PageTitle>

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4 auth-status">
                <AuthorizeView>
                    <Authorized>
                        <span>Welcome, @context.User.Identity.Name!</span>
                        <a href="/logout">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login">Login</a>
                        <a href="/register">Register</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>