@page "/search/{SearchQuery}"
@using BlogApp.BlazorServer.Models
@using BlogApp.BlazorServer.Services
@inject SearchService SearchService

<h3>Search Results</h3>

@if (searchResults == null)
{
    <p><em>Searching...</em></p>
}
else if (searchResults.Any())
{
    @foreach (var result in searchResults)
    {
        <p>@result.Name</p>
        // Links to detail page if necessary
    }
}
else
{
    <p>No results found.</p>
}

@code {
    [Parameter]
    public string SearchQuery { get; set; }

    private IEnumerable<SearchResultDto> searchResults;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(SearchQuery))
        {
            //searchResults = await SearchService.Search(SearchQuery);
        }
    }
}